* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
  }
  button {
    font-family: 'Montserrat', sans-serif;
  }
}